@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mozilla+Headline:wght@200..700&display=swap");
@font-face {
  font-family: "Eurostile";
  src: url("../src/assets/fonts/Eurostile.TTF");
}
@font-face {
  font-family: "Rawgly";
  src: url("../src/assets/fonts/Rawgly.otf");
}
@font-face {
  font-family: "Rebaston";
  src: url("../src/assets/fonts/Rebaston.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("../src/assets/fonts/Helvetica/Helvetica-Light.ttf");
}

@font-face {
  font-family: "Helvetica-Bold";
  src: url("../src/assets/fonts/Helvetica/Helvetica-Bold.ttf");
}

@font-face {
  font-family: "Helvetica";
  src: url("../src/assets/fonts/Helvetica/Helvetica.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../src/assets/fonts/Poppins-Light.ttf");
}


.def-text-color {
  color: #ffffff;
}

body {
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

.font-eurostile {
  font-family: "Eurostile", sans-serif;
}

.font-rawgly {
  font-family: "Rawgly", sans-serif;
}

.font-rebaston {
  font-family: "Rebaston", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-poppins-light {
  font-family: "Poppins-Light", sans-serif;
}

.font-helvetica-light {
  font-family: "Helvetica-Light", sans-serif;
}

.font-helvetica-bold {
  font-family: "Helvetica-Bold", sans-serif;
}

.font-helvetica {
  font-family: "Helvetica", sans-serif;
}

.def-bg-color {
  background-color: #000000;
}

.def-border {
  border: 2px solid #727272;
}

.def-btn {
  background-color: #ffffff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

::placeholder {
  font-family: "Inter", sans-serif;
}

/*//! calendar style */
.rbc-row-content {
  position: relative !important;
}
.rbc-row {
  position: relative;
}

.rbc-date-cell {
  padding: 20px !important;
}

.rbc-month-row + .rbc-month-row,
.rbc-day-bg {
  border: none !important;
  border-radius: 0px !important;
}

.rbc-day-bg:hover {
  background-color: #8000ff !important;
  border-radius: 10px !important;
  border: 2px #8000ff !important;
}

.rbc-today {
  border: none !important;
  border-radius: 10px !important;
}
.rbc-today {
  border: 2px solid #8000ff !important;
  background-color: transparent !important;
}

.rbc-event {
  background-color: transparent !important;
  color: #a704ff !important;
  border-radius: 5px;
  padding: 5px;
  width: fit-content !important;
  position: relative !important;
  left: 20px;
}

.rbc-off-range-bg,
.rbc-off-range {
  opacity: 0 !important;
}

.navbar-scrollbar::-webkit-scrollbar {
  display: none;
}
